[Unit]
Description=recipe auto-deploy every 5 minutes

[Timer]
OnBootSec=2min
OnUnitInactiveSec=5min
RandomizedDelaySec=20s

[Install]
WantedBy=timers.target
